{% extends 'SitronnierSmBoxBundle::layout.html.twig' %}

{% block body %}
    <h3>{% trans %}FAQ{% endtrans %}</h3>

    <div class="faq">
        <div class="item">
            <p class="question">{% trans %}faq_text.question.purpose{% endtrans %}</p>
            <p class="answer">{% trans %}faq_text.answer.purpose{% endtrans %}</p>
        </div>
        <div class="item">
            <p class="question">{% trans %}faq_text.question.structure{% endtrans %}</p>
            <p class="answer">{% trans %}faq_text.answer.structure{% endtrans %}</p>
        </div>
        <div class="item">
            <p class="question">{% trans %}faq_text.question.example{% endtrans %}</p>
            <p class="answer">{% trans %}faq_text.answer.example.before{% endtrans %}</p>
            <img src="{{ asset('/bundles/sitronniersmbox/images/burnup_example.png') }}" />
            <ol>
                <li class="answer">{% trans %}faq_text.answer.example.1{% endtrans %}</li>
                <li class="answer">{% trans %}faq_text.answer.example.2{% endtrans %}</li>
                <li class="answer">{% trans %}faq_text.answer.example.3{% endtrans %}</li>
                <li class="answer">{% trans %}faq_text.answer.example.4{% endtrans %}</li>
                <li class="answer">{% trans %}faq_text.answer.example.5{% endtrans %}</li>
                <li class="answer">{% trans %}faq_text.answer.example.6{% endtrans %}</li>
                <li class="answer">{% trans %}faq_text.answer.example.7{% endtrans %}</li>
                <li class="answer">{% trans %}faq_text.answer.example.8{% endtrans %}</li>
                <li class="answer">{% trans %}faq_text.answer.example.9{% endtrans %}</li>
            </ol>
        </div>
        <div class="item">
            <p class="question">{% trans %}faq_text.question.flow{% endtrans %}</p>
            <p class="answer">{% trans %}faq_text.answer.flow{% endtrans %}</p>
        </div>
        <div class="item">
            <p class="question">{% trans %}faq_text.question.design{% endtrans %}</p>
            <p class="answer">{% trans %}faq_text.answer.design{% endtrans %}</p>
        </div>
        <div class="item">
            <p class="question">{% trans %}faq_text.question.code{% endtrans %}</p>
            <p class="answer">{% trans %}faq_text.answer.code{% endtrans %}</p>
        </div>
        <div class="item">
            <p class="question">{% trans %}faq_text.question.zebra_url{% endtrans %}</p>
            <p class="answer">{% trans %}faq_text.answer.zebra_url{% endtrans %}</p>
        </div>
        <div class="item">
            <p class="question">{% trans %}faq_text.question.delete{% endtrans %}</p>
            <p class="answer">{% trans %}faq_text.answer.delete{% endtrans %}</p>
        </div>
    </div>
{% endblock %}

