{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('/bundles/sitronniersmbox/css/smbox.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<h1>{{ project }}</h1>

{% render "SitronnierSmBoxBundle:stats:sprint" with {'sprint_id': 2} %}

See stats for:
<ul>
    {% for project_sprint in sprints %}
        <li>
            <a href="{{ path('smbox_stats_sprint_data', {'sprint' : project_sprint.id}) }}">Sprint {{ project_sprint.index }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}

