<div id="sprint-stats">
    <h2>Stats for sprint <span id="sprint-index">{{ sprint.index }}</span></h2>
    <div id="graph-canvas"></div>
    <div class="velocity">
        <p>Planed velocity: <span class="sprint-velocity-planed"></span></p>
        <p>Actual velocity: <span class="sprint-velocity-actual"></span></p>
        <p>Burnt MD: <span class="sprint-burnt-md"></span> %</p>
        <p>Burnt SP: <span class="sprint-burnt-sp"></span> %</p>
        <p>Burnt BV: <span class="sprint-burnt-bv"></span> %</p>
    </div>
</div>

