<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Scrum Toolbox!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/bundles/sitronniersmbox/css/smbox.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block top %}{% endblock %}
        {% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}
    </body>
</html>
