<div class="key-figures">
    <table class="record-properties">
        <tbody>
            <tr>
                <th></th>
                <th class="md-title">{% trans %}MD{% endtrans %}</th>
                <th class="sp-title">{% trans %}SP{% endtrans %}</th>
                <th class="bv-title">{% trans %}BV{% endtrans %}</th>
            </tr>
            <tr>
                <th class="label">{% trans %}total{% endtrans %}</th>
                <td>{{ sprint.mandays }}</td>
                <td>{{ sprint.storypoints }}</td>
                <td>{{ sprint.businessvalue }}</td>
            </tr>
            <tr>
                <th class="label">{% trans %}burnt.data{% endtrans %}</th>
                <td><span class="sprint-burnt-md"></span></td>
                <td><span class="sprint-burnt-sp"></span></td>
                <td><span class="sprint-burnt-bv"></span></td>
            </tr>
            <tr>
                <th class="label">{% trans %}burnt.ratio{% endtrans %}</th>
                <td><span class="sprint-burnt-md-ratio"></span></td>
                <td><span class="sprint-burnt-sp-ratio"></span></td>
                <td><span class="sprint-burnt-bv-ratio"></span></td>
            </tr>
        </tbody>
    </table>
    <table class="record-properties">
        <tbody>
            <tr>
                <th></th>
                <th>{% trans %}planned{% endtrans %}</th>
                <th>{% trans %}actual{% endtrans %}</th>
            </tr>
            <tr>
                <th class="label">{% trans %}velocity{% endtrans %}</th>
                <td><span class="sprint-velocity-planned"></span></td>
                <td><span class="sprint-velocity-actual"></span></td>
            </tr>
        </tbody>
    </table>
</div>

