<div class="key-figures">
    <table class="record-properties">
        <tbody>
            <tr>
                <th></th>
                <th>MD</th>
                <th>SP</th>
                <th>BV</th>
            </tr>
            <tr>
                <th class="label">Total</th>
                <td>{{ sprint.mandays }}</td>
                <td>{{ sprint.storypoints }}</td>
                <td>{{ sprint.businessvalue }}</td>
            </tr>
            <tr>
                <th class="label">Burnt</th>
                <td><span class="sprint-burnt-md"></span></td>
                <td><span class="sprint-burnt-sp"></span></td>
                <td><span class="sprint-burnt-bv"></span></td>
            </tr>
            <tr>
                <th class="label">Burnt ratio</th>
                <td><span class="sprint-burnt-md-ratio"></span></td>
                <td><span class="sprint-burnt-sp-ratio"></span></td>
                <td><span class="sprint-burnt-bv-ratio"></span></td>
            </tr>
        </tbody>
    </table>
    <table class="record-properties">
        <tbody>
            <tr>
                <th></th>
                <th>Planed</th>
                <th>Actual</th>
            </tr>
            <tr>
                <th class="label">Velocity</th>
                <td><span class="sprint-velocity-planed"></span></td>
                <td><span class="sprint-velocity-actual"></span></td>
            </tr>
        </tbody>
    </table>
</div>

