{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block body %}
<h1>{% trans %}sprint_entity.create{% endtrans %}</h1>

<form action="{{ path('sprint_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn" type="submit">{% trans %}create{% endtrans %}</button>
    </p>
</form>

{% endblock %}

