{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block body %}
    <p>Your were successfully registered.</p>
    <p>Be brave! Create <a href="{{ path('project_new') }}">your first project</a></p>
{% endblock %}

