<h3>{% trans %}sprint_days{% endtrans %}</h3>

<p class="explanation">{% trans %}sprint_days_inline_editing{% endtrans %}</p>

<div id="sprint-days-header">
    <p>{% trans %}date{% endtrans %}</p>
    <p>{% trans %}nb.hours{% endtrans %}</p>
    <p>{% trans %}business_value{% endtrans %}</p>
    <p>{% trans %}story_points{% endtrans %}</p>
    <p>{% trans %}is_visible{% endtrans %}</p>
</div>
<div id="sprint-days-container" class="clearer"></div>
<a href="{{ path('day_new') }}?sprint={{ sprint.id }}">{% trans %}add.day{% endtrans %}</a>

<script type="text/x-template" id="sprint-day-template">
    <div class="date">{ date }</div>
    <div class="inline-updatable">
        <span class="">{ nbHours }</span>
        <input class="nbHours" type="text" value="{ nbHours }" />
    </div>
    <div class="inline-updatable">
        <span class="">{ nbBV }</span>
        <input class="nbBV" type="text" value="{ nbBV }" />
    </div>
    <div class="inline-updatable">
        <span class="">{ nbSP }</span>
        <input class="nbSP" type="text" value="{ nbSP }" />
    </div>
    <div class="inline-updatable">
        <input class="visible" type="checkbox" />
    </div>
    <div class="actions">
        <a href="#" class="delete">{% trans %}delete{% endtrans %}</a>
    </div>
    <div class="clearer" />
</script>

