#graph-canvas {
    width: 800px;
    height: 800px;
    display: block;
    background: #ffffff;
}

th.md-title {
    color: #000000;
}

th.sp-title {
    color: #26BCD6;
}

th.bv-title {
    color: #F64227;
}

.key-figures td {
    background-color: #f2f2f2;
}

