#graph-canvas {
    width: 600px;
    height: 400px;
    display: block;
    background: #f9f9f9;
}

.key-figures th {
    width: 100px;
    text-align: left;
}

.key-figures .record-properties {
    margin-bottom: 1em;
}

.key-figures th.label {
    width: 150px;
}

.key-figures td {
    background-color: #f9f9f9;
}

#user-bundle-box label {
    width: 0px;
    display: inline;
}

label, #fos_user_registration_form label {
    width: 160px;
    display: inline-block;
}

#sitronnier_smboxbundle_daytype_date {
    display: inline-block;
}

table.record_properties th, table.records_list th {
    text-align: left;
}

table.day-list th, table.sprint-list th {
    width: 80px;
}

body {
    color: #333;
    font-family: "Trebuchet MS", arial, sans-serif;
}

a {
    color: #333;
}

a:hover {
    color: #000;
}

input.large {
    width: 400px;
}

p.explanation {
    color: #666;
    font-size: 0.8em;
    margin-top: 0;
    padding-top: 0;
    margin-left: 160px;
    margin-bottom: .4em;
    font-style: italic;
}

p.helpers {
    color: #666;
    font-size: 0.8em;
    margin-top: 0.2em;
    padding-top: 0;
    margin-left: 160px;
    margin-bottom: .5em;
}

div.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.menu ul li {
   float: left;
   margin-right: 20px;
}

div.menu ul li a {
}

div.menu {
    background: #f9f9f9;
    padding: 3px 0 6px 0;
    margin-bottom: 10px;
}

div.clearer {
    clear: both;
}

