#graph-canvas {
    width: 600px;
    height: 400px;
    display: block;
    background: #f9f9f9;
}

.key-figures th {
    width: 100px;
    text-align: left;
}

.key-figures .record-properties {
    margin-bottom: 1em;
}

.key-figures th.label {
    width: 150px;
}

.key-figures td {
    background-color: #f9f9f9;
}

label {
    width: 160px;
    display: inline-block;
}

#sitronnier_smboxbundle_daytype_date {
    display: inline-block;
}

table.record_properties th, table.records_list th {
    text-align: left;
}

table.day-list th {
    width: 80px;
}

#user-bundle-box label {
    width: 0px;
    display: inline;
}

